<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/templates/css/style.css" rel="stylesheet" type="text/css" />
    <title>Forum</title>
</head>

<body>
    <div id="wrapper" style="width: 98%">
        <div id="header">
            <div class="frame">
                <div id="top_section">
                    {{if .AuthStatus}}{{else}}
                    <div class="user"><br /><br />Пожалуйста, <a href="/sign-in">войдите</a> или <a
                            href="sign-up">зарегистрируйтесь</a>.
                    </div>
                    {{end}}
                </div>
                <div id="upper_section" class="middletext">
                    <div class="forumtitle clear">
                        <h1 class="forumtitle">
                            <a href="/">Форум школы Алем</a>
                        </h1>
                    </div>
                </div>
                <div id="main_menu">
                    <ul class="dropmenu" id="menu_nav">
                        <li id="button_home">
                            <a class="active firstlevel" href="/">
                                <span class="last firstlevel"><img src="/templates/img/buttons/home.png" />Начало</span>
                            </a>
                        </li>
                        <li id="button_search">
                            <a class="firstlevel" href="/categories">
                                <span class="firstlevel"><img src="/templates/img/buttons/search.png"/>Категории</span>
                            </a>
                        </li>
                        {{if .AuthStatus}}
                        <li id="button_login">
                            <a class="firstlevel" href="/users/{{.UserId}}">
                                <span class="firstlevel"><img src="/templates/img/icons/login_sm.gif" />Профиль</span>
                            </a>
                        </li>
                        <form action="/sign-out" method="POST" hidden="true">
                            <input type="submit" id="submit" hidden="true">
                        </form>
                        <li id="button_login">
                            <a class="firstlevel">
                                <label for="submit"><span class="firstlevel"><img src="/templates/img/buttons/login.png"/>Выйти</span></label>
                            </a>
                            
                            
                        </li>
                        {{else}}
                        <li id="button_login">
                            <a class="firstlevel" href="/sign-in">
                                <span class="firstlevel"><img src="/templates/img/buttons/login.png" />Вход</span>
                            </a>
                        </li>
                        <li id="button_register">
                            <a class="firstlevel" href="/sign-up">
                                <span class="last firstlevel"><img
                                        src="/templates/img/buttons/register.png" />Регистрация</span>
                            </a>
                        </li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
        <div id="content_section">
            <div class="frame">
                <div id="main_content_section">
                    <div class="navigate_section">
                        <ul>
                            <li><img src="/templates/img/icons/folder_open.png">
                            </li>
                            <li>
                                <a href="/"><span>Форум школы Алем</span></a> »
                            </li>
                            <li class="last">
                                <a href="/posts/{{.Body.id}}"><span>{{.Body.title}}</span></a>
                            </li>
                        </ul>
                    </div>
                    <div id="forumposts">
                        <div class="cat_bar">
                            <h3 class="catbg">
                                <img src="/templates/img/topic/veryhot_post.gif">
                                <span id="author">Автор</span>
                                Пост: {{.Body.title}}
                            </h3>
                        </div>
                        <p id="whoisviewing" class="smalltext"></p>
                            <div class="windowbg">
                                <span class="topslice"><span></span></span>
                                <div class="post_wrapper">
                                    <div class="poster">
                                        <h4>
                                            <a href="/users/{{.Body.user.id}}"
                                                title="Просмотр профиля {{.Body.user.name}}">{{.Body.user.name}}</a>
                                        </h4>
                                        <ul class="reset smalltext">
                                            <li class="postcount">Постов: {{if .Body.user.total_posts}} {{.Body.user.total_posts}}{{else}}0{{end}}</li>
                                            <li class="postcount">Комментариев: {{if .Body.user.total_comments}} {{.Body.user.total_comments}}{{else}}0{{end}}</li>
                                            <li class="profile">
                                                <ul>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="postarea">
                                        <div class="flow_hidden">
                                            <div class="keyinfo">
                                                <div class="messageicon">
                                                    <img src="/templates/img/post/xx.gif">
                                                </div>
                                                <h5>
                                                    {{.Body.title}}
                                                </h5>
                                                <div class="smalltext"><strong></strong> {{.Body.date}}
                                                </div>
                                                <div></div>
                                            </div>
                                            <div class="reactions">
                                                {{if .AuthStatus}}
                                                <form action="/post-reactions/new" method="post">
                                                    <input type="submit" id="like-post"  hidden="true">
                                                    <input type="hidden" name="reaction" value="true">
                                                    <input class ="post_id" type="hidden" name="post_id" value="{{.Body.id}}"/>
                                                </form>
                                                <form action="/post-reactions/new" method="post">
                                                    <input type="submit" id="dislike-post"  hidden="true">
                                                    <input type="hidden" name="reaction" value="false">
                                                    <input class ="post_id" type="hidden" name="post_id" value="{{.Body.id}}"/>
                                                </form>
                                                <div class="reaction"> 
                                                    <label for="like-post"><img src="/templates/img/post/like.png"></label> 
                                                    {{if .Body.total_likes}}{{.Body.total_likes}}{{else}}0{{end}}
                                                    <label for="dislike-post"><img src="/templates/img/post/like.png"></label> 
                                                    {{if .Body.total_dislikes}}{{.Body.total_dislikes}}{{else}}0{{end}}</a>
                                                </div>
                                                {{else}}
                                                <div class="reaction">
                                                    <img src="/templates/img/post/like.png"> {{if .Body.total_likes}}{{.Body.total_likes}}{{else}}0{{end}}
                                                    <img src="/templates/img/post/dislike.png">{{if .Body.total_dislikes}}{{.Body.total_dislikes}}{{else}}0{{end}}
                                                </div>
                                                {{end}}
                                            </div>
                                        </div>
                                        <div class="post">
                                            <div class="inner">
                                                {{if .Body.content}}
                                                {{.Body.content}}
                                                {{else}}
                                                {{end}}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <span class="botslice"><span></span></span>
                            </div>
                            <hr class="post_separator">
                            {{if .AuthStatus}}
                            {{range .Body.comments}}
                            <div class="windowbg2">
                                <span class="topslice"><span></span></span>
                                <div class="post_wrapper">
                                    <div class="poster">
                                        <h4>
                                            <a href="/users/{{.user.id}}"
                                                title="Просмотр профиля {{.user.name}}">{{.user.name}}</a>
                                        </h4>
                                        <ul class="reset smalltext">
                                            <li class="postcount">Постов: {{if .user.total_posts}}
                                                {{.user.total_posts}}{{else}}0{{end}}</li>
                                            <li class="postcount">Комментариев: {{if .user.total_comments}}
                                                {{.user.total_comments}}{{else}}0{{end}}
                                            </li>
                                            <li class="profile">
                                                <ul>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                   
                                    <div class="postarea">
                                        <div class="flow_hidden">
                                            <div class="keyinfo">
                                                <div class="messageicon">
                                                    <img src="/templates/img/post/xx.gif">
                                                </div>
                                                <h5 id="{{.id}}">
                                                </h5>
                                                <div class="smalltext number"><strong></strong>
                                                    {{.comment_date}}
                                                </div>
                                                <div></div>
                                            </div>
                                            <div class="reactions">
                                                <form action="/comment-reactions/new" method="post">
                                                    <input type="submit" id="like-comment{{.id}}"  hidden="true">
                                                    <input type="hidden" name="reaction" value="true">
                                                    <input class ="post_id" type="hidden" name="post_id" value="{{if .post.id}}{{.post.id}}{{else}}0{{end}}"/>
                                                    <input class="comment_id" type="hidden" name="comment_id" value="{{.id}}">
                                                </form>
                                                <form action="/comment-reactions/new" method="post">
                                                    <input type="submit" id="dislike-comment{{.id}}"  hidden="true">
                                                    <input type="hidden" name="reaction" value="false">
                                                    <input class ="post_id" type="hidden" name="post_id" value="{{if .post.id}}{{.post.id}}{{else}}0{{end}}"/>
                                                    <input class="comment_id" type="hidden" name="comment_id" value="{{.id}}">
                                                </form>
                                                <div class="reaction"> 
                                                    <label for="like-comment{{.id}}"><img src="/templates/img/post/comment-like.png"></label> 
                                                    {{if .total_likes}}{{.total_likes}}{{else}}0{{end}}
                                                    <label for="dislike-comment{{.id}}"><img src="/templates/img/post/comment-dislike.png"></label> 
                                                    {{if .total_dislikes}}{{.total_dislikes}}{{else}}0{{end}}</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post">
                                            <div class="inner">
                                                {{.comment_content}}
                                            </div>
    
                                        </div>
                                    </div>
                                </div>
                                <span class="botslice"><span></span></span>
                            </div>
                            {{end}}
                            {{else}}
                            {{range .Body.comments}}
                            <div class="windowbg2">
                                <span class="topslice"><span></span></span>
                                <div class="post_wrapper">
                                    <div class="poster">
                                        <h4>
                                            <a href="/users/{{.user.id}}"
                                                title="Просмотр профиля {{.user.name}}">{{.user.name}}</a>
                                        </h4>
                                        <ul class="reset smalltext">
                                            <li class="postcount">Постов: {{if .user.total_posts}}
                                                {{.user.total_posts}}{{else}}0{{end}}</li>
                                            <li class="postcount">Комментариев: {{if .user.total_comments}}
                                                {{.user.total_comments}}{{else}}0{{end}}
                                            </li>
                                            <li class="profile">
                                                <ul>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                   
                                    <div class="postarea">
                                        <div class="flow_hidden">
                                            <div class="keyinfo">
                                                <div class="messageicon">
                                                    <img src="/templates/img/post/xx.gif">
                                                </div>
                                                <h5 id="{{.id}}">
                                                </h5>
                                                <div class="smalltext number"><strong></strong>
                                                    {{.comment_date}}
                                                </div>
                                                <div></div>
                                            </div>
                                            <div class="reactions">
                                                <div class="reaction">
                                                    <img src="/templates/img/post/comment-like.png"> {{if .total_likes}}{{.total_likes}}{{else}}0{{end}}
                                                    <img src="/templates/img/post/comment-dislike.png">{{if .total_dislikes}}{{.total_dislikes}}{{else}}0{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post">
                                            <div class="inner">
                                                {{.comment_content}}
                                            </div>
    
                                        </div>
                                    </div>
                                </div>
                                <span class="botslice"><span></span></span>
                            </div>
                            {{end}}
                            {{end}}
                            <hr class="post_separator">
                           
                        {{if .AuthStatus}}
                        <form action="/comments/new" name="frmLogin" id="frmLogin" method="POST">
                            <div>
                                <div class="cat_bar">
                                    <h3 class="catbg">
                                        <span class="ie6_header floatleft"><img src="/templates/img/topic/hot_post.gif"
                                                class="icon">Новый комментарий</span>
                                    </h3>
                                </div>
                                <span class="upperframe"><span></span></span>
                                <div class="roundframe"><br class="clear">
                                    <dl>
                                        <dt>Содержание:</dt>
                                        <textarea name="content" class="input_post" required="required"></textarea>
                                    </dl>
                                    <input class ="post_id" type="hidden" name="post_id" value="{{.Body.id}}"/>
                                    <p><input type="submit" value="Создать" class="button_submit"></p>
                                </div>
                                <span class="lowerframe"><span></span></span>
                            </div>
                        </form>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
        <div id="footer_section">
            <div class="frame">
            </div>
        </div>
    </div>
</body>

</html>