<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/templates/css/style.css" rel="stylesheet" type="text/css" />
    <title>Forum</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<body>

    <div id="wrapper" style="width: 98%">
        <div id="header">
            <div class="frame">
                <div id="top_section">
                    {{if .AuthStatus}}{{else}}
                    <div class="user"><br /><br />Пожалуйста, <a href="/sign-in">войдите</a> или <a
                            href="sign-up">зарегистрируйтесь</a>.
                    </div>
                    {{end}}
                </div>
                <div id="upper_section" class="middletext">
                    <div class="forumtitle clear">
                        <h1 class="forumtitle">
                            <a href="/">Форум школы Алем</a>
                        </h1>
                    </div>
                </div>
                <div id="main_menu">
                    <ul class="dropmenu" id="menu_nav">
                        <li id="button_home">
                            <a class="active firstlevel" href="/">
                                <span class="last firstlevel"><img src="/templates/img/buttons/home.png" />Начало</span>
                            </a>
                        </li>
                        {{if .AuthStatus}}
                        <li id="button_login">
                            <a class="firstlevel" href="/posts/new">
                                <span class="firstlevel"><img src="/templates/img/icons/last_post.gif" />Написать
                                    пост</span>
                            </a>
                        </li>
                        <li id="button_login">
                            <a class="firstlevel" href="/users/{{.UserId}}">
                                <span class="firstlevel"><img src="/templates/img/icons/login_sm.gif" />Профиль</span>
                            </a>
                        </li>
                        <form action="/sign-out" method="POST" hidden="true">
                            <input type="submit" id="submit" hidden="true">
                        </form>
                        <li id="button_login">
                            <a class="firstlevel">
                                <label for="submit"><span class="firstlevel"><img src="/templates/img/buttons/login.png"/>Выйти</span></label>
                            </a>
                            
                            
                        </li>
                        {{else}}
                        <li id="button_login">
                            <a class="firstlevel" href="/sign-in">
                                <span class="firstlevel"><img src="/templates/img/buttons/login.png" />Вход</span>
                            </a>
                        </li>
                        <li id="button_register">
                            <a class="firstlevel" href="/sign-up">
                                <span class="last firstlevel"><img
                                        src="/templates/img/buttons/register.png" />Регистрация</span>
                            </a>
                        </li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
        <div id="content_section">
            <div class="frame">
                <div id="main_content_section">
                    <div class="navigate_section">
                        <ul>
                            <li><img src="/templates/img/icons/folder_open.png">
                            </li>
                            <li>
                                <a href="/"><span>Форум школы Алем</span></a> »
                            </li>
                            <li class="last">
                                <a href="/users"><span>Пользователи</span></a>
                            </li>
                        </ul>
                    </div>
                        <div class="tborder login">
                            <div class="cat_bar">
                                <h3 class="catbg">
                                    <span class="ie6_header floatleft"><img src="/templates/img/icons/login_sm.gif"
                                            class="icon"> Все пользователи</span>
                                </h3>
                            </div>
                            <span class="upperframe"><span></span></span>
                            <div class="roundframe"><br class="clear">
                                <dl>
                                    {{range .Body}}
                                    <div class="user_number">
                                        <a href="/users/{{.id}}">{{.name}}</a>
                                    </div>
                                    {{end}}
                                </dl>
                            </div>
                            <span class="lowerframe"><span></span></span>
                        </div>
                </div>
            </div>
        </div>
        <div id="footer_section">
            <div class="frame">
            </div>
        </div>
    </div>
</body>

</html>