<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
</head>
<body>
    {{.AuthStatus}} <br>
    {{.Body.title}} <br>
    {{.Body.total_posts}} <br><br>

   {{range .Body.posts}}
   <!-- {{.}} -->
   <a href="/posts/{{.id}}">{{.title}}</a> <br>
   {{if .content}}  {{.content}} <br>{{else}} {{end}}
   {{range.categories}} 
    <a href="/categories/{{.id}}">{{.title}}</a>
   {{end}} 
   {{.date}} <br>
   <a href="/users/{{.user.id}}">{{.user.name}}</a> <br>
   <br>
   {{end}}
    <br>
</body>
</html>