<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<body>
    Title: {{.Content.title}} <br>
    Likes: {{if .Content.total_likes}} {{.Content.total_likes}} {{else}} 0 {{end}} Dislikes: {{if .Content.total_dislikes}} {{.Content.total_dislikes}} {{else}} 0 {{end}}<br>
    Author: <a href="/user/{{.Content.user.id}}">{{if .Content.user.name}} {{.Content.user.name}} {{else}} {{.Content.user.email}}{{end}}</a> <br>
    {{if .Content.content}}Content: {{.Content.content}} {{else}}hello{{end}}<br> 
    <!-- Categories: {{if .Content.categories}} 
    {{range.Content.categories}} 
    <a href="/category/{{.id}}">{{.title}}</a> 
    {{end}} {{else}} Hell {{end}} <br>
    de
    {{if .Content.comments}}
    Comments: <br>{{range.Content.comments}}
    {{.Content.comment_content}} <br>
    <a href="/user/{{.Content.user.id}}">{{.Content.user.name}}</a>, {{.Content.comment_date}} <br>
     {{end}}
    {{else}}
    {{end}} -->
</body>
</html>