<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<body>
    Title: {{.title}} <br>
    Likes: {{if .total_likes}} {{.total_likes}} {{else}} 0 {{end}} Dislikes: {{if .total_dislikes}} {{.total_dislikes}} {{else}} 0 {{end}}<br>
    Author: <a href="/user/{{.user.id}}">{{.user.name}}</a> <br>
    {{if .content}}Content: {{.content}} <br>{{end}} 
    Categories: {{range.categories}} <a href="/category/{{.id}}">{{.title}}</a> {{end}} <br>
    Comments: <br>{{range.comments}}
    {{.comment_content}} <br>
    <a href="/user/{{.user.id}}">{{.user.name}}</a>, {{.comment_date}} <br>
    {{end}}
    <!-- {{.}} -->
</body>
</html>