<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<body>
    AuthStatus: {{.AuthStatus}}<br>
    {{.Body.title}} <br>
    {{.Body.date}} <br>
    {{range .Body.categories}} 
        <a href="/categories/{{.id}}">{{.title}} </a>
    {{end}}
    <br>
    <br>
    Comments: <br> <br>
    {{range .Body.comments}}
        {{.comment_content}} <br>
        {{.comment_date}} <br>
        <a href="/users/{{.user.id}}">{{.user.name}} </a><br><br>
    {{end}}
    {{if .AuthStatus}}
    <form action="/comments/new" method="POST">
        Write your comment <br>
        <textarea class="content" type="text" name="content" required></textarea><br>
        <input class ="post_id" type="hidden" name="post_id" value="{{.Body.id}}"/>
        <input type="submit" value="Submit">
        
    </form>
    {{else}}
    {{end}}
</body>


</html>