<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>
    Name: {{.Body.name}} <br>
    Email: {{.Body.email}} <br>
    Total post likes: {{if .Body.total_post_likes}}{{.Body.total_post_likes}} {{else}} 0 {{end}}<br>
    Total post dislikes: {{.Body.total_post_dislikes}} <br>
    Total posts: {{.Body.total_posts}} <br>
    Posts: {{range .Body.posts}} <br> 
    Post title: <a href="/posts/{{.id}}">{{.title}}</a> <br>
    Post content: {{.content}} <br>
    Post date: {{.date}} <br>
    {{end}} <br>
    <br>
</body>
</html>